# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
.eggs/
dist/
build/
release/

# ユーザー環境
config.yaml
templates/*.png
templates/buttons/
logs/*.log

# IDE
.cursor/
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
